<section class="intro">
  <h1><%= gettext "Ethereum Trx Hash Analyzer", name: "ethscan" %></h1>
  <p>Technical Interview Assignment</p>
</section>

<section class="field">
  <div class="form-group">
    <input type="text" class="hashfield" placeholder="Trx Hash" />
  </div>
  <div class="form-group">
    <button type="button">Make Payment</button>
  </div>
</section>
