body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: white;
  font-family: "Courier New", Courier, monospace;
}

button {
  height: 40px;
  width: 200px;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  background-color: #3f07af;
  color: white;
  border: 1px solid #6932d4;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  display: block;
}

.brand {
  margin-top: 40px;
  padding: 20px;
  max-width: 100%;
  align-content: center;
}

.brand > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.intro {
  max-width: 100%;
  margin-top: 5%;
  font-family: "Courier New", Courier, monospace;
}

.intro > h1 {
  text-align: center;
  color: #6932d4;
  font-size: 30px;
}

.intro > p {
  text-align: center;
  font-weight: bold;
}

.field {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.field > div {
  margin-bottom: 20px;
}

.hashfield {
  display: block;
  margin: auto;
  width: 600px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #6932d4;
  font-family: "Courier New", Courier, monospace;
  font-size: 19px;
  padding: 5px;
}

.payment-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.payment-modal-logo {
  width: 20%;
}

.payment-modal > .modal-header {
  background-color: #fff;
  color: white;
  margin: auto;
  margin-top: 5%;
  padding: 10px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 8px 8px 0px 0px;
}

.payment-modal > .modal-content {
  background-color: #3f07af;
  color: white;
  margin: auto;
  width: 31.5%;
  border-radius: 0px 0px 8px 8px;
}

.modal-content > .duration {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #6932d4;
  margin: 0px;
  padding: 10px;
}

.duration > span {
  font-weight: bold;
}

.modal-content > .confirmations {
  margin-top: 30px;
  background-color: #3f07af;
  display: flex;
  height: 50px;
  justify-content: space-around;
}

.confirmations > .amount {
  display: flex;
  flex-direction: column;
}

.confirmations > .amount > .digit {
  font-size: 30px;
  font-weight: bold;
}

.coin {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
}

.conf {
  display: flex;
  flex-direction: column;
}

.conf > .count {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.conf > .note {
  font-size: 12px;
  margin-top: 5px;
  font-weight: bold;
}

.duration > span {
  font-size: 12px;
}

.modal-content > .signal {
  margin-top: 30px;
  background-color: #fff;
  display: flex;
  height: 180px;
  border-radius: 0px 0px 8px 8px;
  justify-content: space-around;
}

.close {
  color: #aaa;
  float: right;
  margin-top: 15px;
  font-size: 28px;
  font-weight: bold;
}

.signal {
  padding: 10px;
}

.signal > img {
  display: block;
  margin: auto;
  width: 150px;
  margin-top: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
