<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Ethscan", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <div class="brand">
        <img src={Routes.static_path(@conn, "/images/utrust.png")} />
      </div>
    </header>
    <%= @inner_content %>
    <footer>
      <center>
        <a href="https://www.linkedin.com/in/ebuka-chizota" target="_blank">Author: Chizota, Victor Ebuka</a>
      </center>
    </footer>
  </body>
</html>
